<div id="<%= dom_id external_post %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Branch:</h4>
    <p class="leading-none"><%= external_post.branch_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Slug:</h4>
    <p class="leading-none"><%= external_post.api_variabile %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Content:</h4>
    <p class="leading-none"><%= external_post.content %></p>
  </div>
</div>
