<div>
  <h1 class="font-bold text-4xl">Business </h1>
  <p>Elenco dei project per ogni business</p>
  <p>da decidere le viste e come metterle e come permettere agli altri di interagire ma penso come nell'articolo app 1 app 2 app 3</p>
  <p> Organizzare gli eventi in 1impegno poi vedere come fare con le altre risorse</p>
</div>
<p>Ogni progetto poi è fatto per mettere nel ciclo di produzione.</p>
<p>Da valutare l'aggiunta di altre categorie 
  <br>
  come blog contenuti | corsi ecc. 
  <br>
  nello stile di https://www.skool.com/stryfai/about 
  <br>
  substack o altro
</p>
---
