<li class="list-group-item"  data-id="<%= branch.id %>">
  <%= 'field:' if branch.field == true %>
  <%= branch.slug %>
  <% if branch.children.any? %>
    <ul class="nested-sortable" > <!--data-sortable-target="list"-->
      <%= render partial: "sortable_child_simple", collection: branch.children.where(field: false).order(:position), as: :branch %>
    </ul>
  <% else %>
    <ul class="nested-sortable"><!--data-sortable-target="list"-->
    </ul>
  <% end %>
</li>