<% content_for :title, "Branches" %>
<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Branches</h1>
  <%= link_to "New branch", new_branch_path, class: "btn btn--primary" %>
</div>
<%= render 'branches/index' %>