<div class="sidebar-menu">
  <div class="p-4">
    <% if authenticated? %>
      <% if Current.user == @branch_root.user %>
        <% if controller_name == "trees" %>
          <%= link_to branch_path(@branch_root) do %>
            <div class="badge badge--positive">Pubblico</div>
            Privato
          <% end %>
          <br>
          <hr>
          <br>
        <% else %>
          <%= link_to profile_tree_path(@branch_root.user.username, @branch_root) do %>
            Pubblica  
            <div class="badge badge--negative">Privata</div>
          <% end%>
          <br>
          <hr>
          <br>
        <% end %>
      <% end %>
    <% end %>
    <div class="prose">
      <h5><%= link_to @branch_root.slug, branch_path(@branch_root) %></h5>
    </div>
    <%= render 'trees/ul_list_tree', branches: @branch_root.children, branch: @branch,  parent_id: nil %>
  </div>
</div>