<% if @branch.external_post&.content.present? %>
  <!-- video-->
  <% if embed_url(@branch.external_post.content).present? %>
    <div style="position: relative; width: 100%; padding-top: 56.25%; margin: 1.5rem 0; border-radius: 12px; overflow: hidden;">
      <iframe
    src="<%= embed_url(@branch.external_post.content) %>"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; border-radius: 12px;"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
      </iframe>
    </div>
  <% elsif content.image.present? %>
    <img src="<%= content.image %>" alt="<%= content.title %>" class="w-full h-auto rounded-lg mt-4 mb-4" />
  <% end %>
  <!-- contenuto-->
  <div class="flex flex-col gap-2 prose text-gray-800">
    <%= markdown(@branch.external_post.content["body"]) %>
  </pre>
<% end %>
