<div>
  <h1 class="font-bold text-4xl">Projects#index</h1>
  <p>Find me in app/views/projects/index.html.erb</p>
</div>
<pre>
In branch.flowpulse.net ho messo 
Struttura: 
- branch_index 
- branch_label
</pre>
<pre>
In project.flowpulse.net metto 
Contenuti relativi alla struttura:
- project_index 
- project_label
devo capire come?

o forse è meglio mettere @project per 
- project_index per lo show delle label @project_label..
- perchè bisogna riprodurre l'albero di hash e poi aggiungere 
esempio l'elenco 
- index dei business
- show per ogni business
</pre>
In oltre come distingui poi il business dal progetti dal model da ecc.
Project struttura project contenuto.
Varie mappe legate con il link
