<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="header-layout" data-controller="fullscreen">
    <div class="sidebar-layout">
      <aside id="sidebar">
        <%= render "shared/sidebar_menu" %>
      </aside>
      <main id="main" class="container">
        <%= render "shared/mobile_menu" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
